@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full  w-full;
  }
  body {
    @apply relative h-full w-full;
  }
  h1 {
    @apply text-[48px]   font-bold text-white;
  }
  h2 {
    @apply text-[36px]   font-bold text-white;
  }
  h3 {
    @apply text-[30px]   font-bold text-white;
  }
  h4 {
    @apply text-[24px]  font-bold text-white;
  }
  h5 {
    @apply text-[16px]  font-bold text-white;
  }
  h6 {
    @apply text-[14px]   font-bold text-header;
  }

  p {
    @apply text-[12px] font-light text-body;
  }
}

@layer components {
  .body1 {
    @apply text-[24px] font-normal leading-relaxed;
  }
  .body2 {
    @apply text-[16px] font-light leading-relaxed;
  }
  .caption {
    @apply text-[12px]  font-normal tracking-normal;
  }
  .icon {
    @apply h-6 w-6 shrink-0 cursor-pointer fill-body stroke-body hover:fill-header hover:stroke-header;
  }
  .icon-button {
    @apply h-fit w-fit overflow-hidden rounded-xl px-4 py-3 hover:bg-hover;
  }

  .icon-active {
    @apply fill-header stroke-header;
  }
}

@layer utilities {
  .warning-text {
    @apply pl-2 text-[14px] font-normal  tracking-wider text-alert;
  }
  .button-icons {
    @apply h-fit w-fit overflow-hidden rounded-xl px-3  py-3 hover:bg-active;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FFFF;
  }

  ::-webkit-scrollbar-track {
    background-color: #282b30;
  }
}
